/*
css imports
*/
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Handjet:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none; 
    list-style: none;
    border: none; /**/
    outline: none; /**/
    scroll-behavior: smooth; /**/
}
body{
    background-color: rgb(170, 161, 161);
}
/* css of index.html */
.index_body{
    background-color: whitesmoke;
}

.home_1st{ /* first part ng home */
    position: relative;
    height: 100vh;
    background-image: url('../images/destinations/welcometobaguio.jpeg');
    background-image: url('../images/destinations/welcometobaguio.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.home_main_text{ /* first part ng home */
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'PlayFair Display SC', serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.home_main_text h1 { /* first part ng home */
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}
.home_main_text p { /* first part ng home */
    font-size: 26px;
    font-weight: normal;
    margin-top: 20px;
}

.img_slider_wrapper { /* second part ng home */
    padding: 20px;
    border-top: 5px solid gray; 
    border-bottom: 5px solid gray;
  }
  .slider_item, .slider_item2{ /* second part ng home */
    clear: both; 
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    align-items: flex-start;
  }
  .slider_item img { /* second part ng home */
    float: left;
    padding: 5px;
    width: 550px;
    height: 400px;
    display: block;
    margin-left: 10%;
    margin-right: 6%;
    border-radius: 1rem;
  }
  .slider_item2 img { /* second part ng home */
    float: right;
    padding: 5px;
    width: 550px;
    height: 400px;
    display: block;
    margin-left: 6%;
    margin-right: 10%;
    border-radius: 1rem;
  }
  .image-text, .image-link { /* second part ng home */
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    color: #000000;
  }
  .image-text2, .image-link2 { /* second part ng home */
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    color: #000000;
  }
  .image-text h2, .image-text2 h2 { /* second part ng home */
    font-family: 'Calibri';
    text-align: center;
    font-size: 40px;
  }
  .image-text p, .image-text2 p,
  .image-link, .image-link2 { /* second part ng home */
    font-family: 'Calibri';
    font-size: 20px;
  }
  .image-link, .image-link2{ /* second part ng home */
    font-weight: bolder;
    text-decoration: underline;
    color: gray;
    text-align: center;
    margin-top: 50px;
  }
  .image-link:hover, .image-link2:hover { /* second part ng home */
    color: red;
  }

  .home_hotel_wrapper { /* third part ng home */
    padding: 20px;
    border-bottom: 5px solid gray;
    filter: grayscale(100%);
  }
  .home_hotel_item { /* third part ng home */
    clear: both; 
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    align-items: flex-start;
  }
  .home_hotel_item img { /* third part ng home */
    float: left;
    padding: 5px;
    width: 550px;
    height: 400px;
    display: block;
    margin-left: 10%;
    margin-right: 6%;
    border-radius: 1rem;
  }
  .home_hotel_wrapper:hover{
    filter: grayscale(0);
  }
  .home_hotel_info, .home_hotel_link { /* third part ng home */
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    color: #000000;
  }
  .home_hotel_info h2 { /* third part ng home */
    font-family: 'Calibri';
    text-align: center;
    font-size: 40px;
  }
  .home_hotel_info p, .home_hotel_link { /* third part ng home */
    font-family: 'Calibri';
    font-size: 20px;
  }

  .home_hotel_link { /* third part ng home */
    font-weight: bolder;
    text-decoration: underline;
    color: gray;
    text-align: center;
    margin-top: 50px;
  }
  .home_hotel_link:hover { /* third part ng home */
    color: red;
  }

  .home_guide { /* fourth part ng home */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
.home_guide h1{ /* fourth part ng home */
    color: #00a8e8;
}
.home_guide h2 { /* fourth part ng home */
    color: #333;
}
.home_guide p { /* fourth part ng home */
        line-height: 1.6;
}

/* @media of index.html */
@media screen and (max-width: 768px) {
    .home_1st {
        background-size: cover;
        height: 100vh;
    }
    .home_main_text h1 {
        font-size: 32px;
        margin-bottom: 5px;
    }
    .home_main_text p {
        font-size: 16px;
        margin-top: 10px;
    }
    .slider_item, .slider_item2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .slider_item img, .slider_item2 img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .image-text, .image-link, .image-text2, .image-link2 {
        margin-left: 5%;
        margin-right: 5%;
        text-align: justify;
    }
    .image-link, .image-link2 {
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        margin-top: -1%;
        margin-bottom: 5%;
    }
    .image-text h2, .image-text2 h2 {
        font-size: 20px;
    }
    .image-text p, .image-text2 p, .image-link, .image-link2 {
        font-size: 14px;
    }
    .home_hotel_wrapper{
        filter: grayscale(0);
    }
    .home_hotel_item {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .home_hotel_item img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .home_hotel_info h2 {
        font-size: 20px;
    }
    .home_hotel_info p, .home_hotel_link {
        font-size: 14px;
    }
    .home_hotel_link {
        margin-top: 10px;
    }
    .home_guide {
        margin: 20px;
        padding: 10px;
    }
    .home_guide h1 {
        font-size: 22px;
    }
    .home_guide h2 {
        font-size: 18px;
    }
    .home_guide p {
        font-size: 14px;
    }
} 


/*
css of about.html
*/

/*first part of about*/
.baguio_facts{
    width:100%;
    min-height: 150vh;
    display: grid;
    place-items: center;
    scroll-snap-type: y mandatory;
    margin-top: -60px !important;
}

.row {
    width: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 70px;
    overflow-x: hidden;
    padding: 2rem 0;
    margin-top: 90px;
    margin-bottom: -8%;
}
.row .img_wrapper{
    overflow: hidden;
}

.row .img_wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 80%;
    
}

.row .img_wrapper:hover img{
    cursor: pointer;
    opacity: 100%;
    transition: 1s;
}

.row .content_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.row .content_wrapper .about_content p {
    display: block;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.row .content_wrapper h2{
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: rgb(64, 57, 57);
    padding-bottom: 20px;
}

.row .content_wrapper p{
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 25px;
    padding-right: 10px;
}

.row .content_wrapper a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background: gray;
    color: white;
    padding: 15px 40px;
    letter-spacing: 1px;
    user-select: none;
}

.row .content_wrapper a:hover{
    color: rgb(64, 57, 57);
}
@media screen and (max-width: 768px){
    .row {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        text-align: left;
        margin-top: 10px;
    }

    .row .img_wrapper {
        order: 1;
    }

    .row .content_wrapper {
        order: 2;
    }
    .row .content_wrapper p{
        padding-right: 30px;
        text-align: justify;
    }

    .row .img_wrapper img{
        padding-left: 30px;
        padding-right: 30px;
    }

    .row .content_wrapper a{
       text-align: center;
       margin-left: auto;
    }
}

/*second part of about*/
.timeline{
    position: relative;
    max-width: 1170px;
    margin: 50px auto;
}

.baguio_covid h1{
    font-size: 50px;
    font-family: 'Asap Condensed', sans-serif;
    text-align: center;
    margin-top: 120px !important;
}

.timeline_container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.text-box{
    padding: 20px 30px;
    background: whitesmoke;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.left-container{
    left: 0;
}

.right-container{
    left: 50%;
}

.timeline_container img {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right-container img{
    left: -20px;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: whitesmoke;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0%{
        height: 0;
    }    
    100%{
        height: 100%;
    }
}

.text-box h2{
    font-family: 'Asap Condensed', sans-serif;
    font-weight: bold;
}

.text-box small{
    font-style: italic;
    display: inline-block;
    margin-bottom: 15px;
}
.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid whitesmoke;
    right: -15px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid whitesmoke;
    left: -15px;
}

.timeline_container:nth-child(1){
    animation-delay: 0s;
}
.timeline_container:nth-child(2){
    animation-delay: 1s;
}
.timeline_container:nth-child(3){
    animation-delay: 2s;
}
.timeline_container:nth-child(4){
    animation-delay: 3s;
}



/*second part of about*/

@media screen and (max-width: 600px){


    .baguio_covid h1{
        font-size: 20px;
    }
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left:31px;
    }
    .timeline_container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }

    .right-container{
        left: 0;
    }

    .left-container img, .right-container img {
        left: 10px;
    }

    .left-container-arrow, .right-container-arrow{
        border-right:15px solid whitesmoke;
        border-left: 0;
        left: -15px;
    }
}

/*baguio delicacies css*/
.food {
    padding: 100px 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}

.food_heading {
    background: url(../images/about/longganisa.jpeg);
    background: url(../images/about/longganisa.jpeg);
    color: whitesmoke;
    margin-bottom: 30px;
    padding: 30px 0;
    margin: 50px -10px 5px -10px;
    grid-column: 1 / -1;
    text-align: center;
}

.food_heading > h1 {
    font-family: 'Rajdhani';
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}

.food_heading > h3 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.food-items {
    display: grid;
    position: relative;
    grid-template-rows: auto 0.8fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    transition: .2s ease-in-out;
}

.food-items:hover{
    background-color: whitesmoke;
    border: 2px solid black;
}

.food-items img {
    position: relative;
    width: 100%;
    height: 280px;
    border-radius: 15px 15px 0 0;
    cursor: pointer;
}

.food_heading h1{
    grid-column: 1/-1;
    text-align: center;
}

.food-details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}

.details-sub > h5{
    font-weight: 600;
    font-size: 18px;
}

.price{
    text-align: right;
    margin-top: -23px;
}

.food-details>p{
    color: black;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}

.food-details a{
    font-family: 'Courier New', Courier, monospace;
    background: rgb(151, 132, 132);
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    width: 170px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

.food-details a:hover{
background: rgb(151, 132, 132);
border: 2px solid black;
color: black;
}

.food-items a:hover {
border: 3px solid rgb(0, 0, 0);
background: whitesmoke;
}

/*
css of destionation.html
*
  
  /* Style destination containers */
  .destination-page {
    padding-top: 110px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;

    
   /* padding: 2rem;*/
  }
  
  .destination-container {
    display: flex;
    margin-bottom: 1rem;
  }
  
  .image-container {
    flex: 1;
    margin-right: 1rem;
    display: flex;
    align-items: center;
  }
  
  .destination-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .details-container {
    flex: 2;
    padding: 1rem;
    background-color: #6e6e6e;
    border-radius: 10px;
    border: 2px solid black;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: 'Asap Condensed', sans-serif;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-family: 'Asap Condensed', sans-serif;
  }
  
  .learn-more-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #24252A;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }

  .destination-page {
    padding-top: 110px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  
  .destination-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }
  
  .image-container {
    flex: 1;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  
  .destination-image {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  .details-container {
    flex: 2;
    padding: 1rem;
    background-color: #6e6e6e;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .learn-more-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #24252A;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }
  
  @media screen and (max-width: 768px) {
    .destination-container {
      flex-direction: column; 
    }
  
    .image-container {
      order: -1; 
      margin-right: 0;
      margin-bottom: 20px;;
    }
  
    .details-container {
      margin-left: 0;
    }
  }

/*
css of contact.html
*/
.contact 
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/back.jpg);
    background-image: url(../images/back.jpg);
    background-size: cover;
}
/* for the content inside the contact section */
.contact .content
{
    max-width: 800px;
    text-align: center;
}
/* adjust the header style in the contact section */
.contact .content h2
{
    font-size: 50px;
    font-weight: 500;
    color: #000000;
    margin-top: 80px;
}
/* adjust the paragraph styles in the contact section */
.contact .content p
{
    font-weight: 300;
    font-size: 18px;
    color: #000000;
}
/* for the container in the contact info */
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
/* for the styles of contact in the boxes */
.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
/* adjust the boxes styles */
.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
/* for the icon styles */
.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
/* for the text sttles in the information boxes */
.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
/* adjust the header of information boxes */
.container .contactInfo .box .text h3
{
    font-weight: 500;
    font-size: 25px;
    color: cyan;
}
/* adjusat the styles for the link in the info boxes */
.container .contactInfo .box .text a
{
    font-weight: 500;
    color: #f00;
}
/* for the contact form */
.contactForm
{
    width: 40%;
    padding: 40px;
    background: rgba(255, 255, 255, 0.5);
}
/* adjust the header of the contact form */
.contactForm h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
/* for the input field and text area within the contact form */
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
   width: 100%;
   padding: 10px 0;
   font-size: 16px;
   margin: 10px 0;
   border: none;
   border-bottom: 2px solid #333;
   outline: none;
   resize: none;
}
/* for the input field labels */
.contactForm .inputBox span
{
    position: absolute;
    left: 0%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0; 
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
/* for the einput field with valid input */
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
/* media queries for responsive design */
/* adjust font size and spacing for medium screens */
@media (max-width: 991px) {
    .contact {
        padding: 30px;
    }
    .container {
        flex-direction: column;
    }
    .container .contactInfo {
        width: 100%;
        margin-bottom: 20px;
    }
    .contactForm {
        width: 100%; /* adjust the size of the form based on the screen size */
    }
}
/* for the even smaller display of other gadgets */
@media (max-width: 480px) {
    .contact .content h2 {
        font-size: 40px; /* adjust font size for smaller screens */
    }

    .contactForm {
        padding: 10px; 
    }
}





/* 
header - ednis sobrang pogi tangina
*/
nav {
	position: fixed; 
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 5%;
	height: 100px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    border-bottom: 1px solid #fff;
    /* background-color: #3c3d45; */
    /* background-color: transparent; (optional)  */
    display: flex;
}
nav .logo {
	float: left;
	width: 150px;
    margin-left: 30px;
    margin-top: 10px;
	display: flex;
	color: #fff;
}

nav .team_name{
    float:left;
    margin-left: 30px;
    margin-top: 15px;
    font-weight: 100;
    font-size: 200%;
    cursor: pointer;
    font-family: 'Creepster', cursive;
    color: rgb(170, 161, 161);
    margin-right: 70px;
}

nav .team_name:hover{
    opacity: 30%;
    transition: .5s;
}

.nav_links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.nav_links li {
	list-style: none;
}
.nav_links a {
    font-family: 'Sedgwick Ave Display', cursive;
	display: block;
	padding: 0.6em;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
}

.nav_links li a:hover{
    background: rgb(132, 129, 129);
    transition: 0.6s;
    border-radius: 10px;
}

.nav_links .active{
    background: rgb(132, 129, 129);
    border-radius: 10px;
}

.nav_links .blank{
    border-radius: 25px;
    border-style: solid;;
}

#nav-toggle {
    position: absolute;
	top: -50px;
}
/*nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	tr
    ansform: translateY(-50%);
}
*/
/* nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
} */

@media screen and (max-width: 768px) {

    #nav-toggle{
        margin-left: 83%;
        margin-top: 52px;
        height: 100px;
        width: 30px;
        
    }

	nav .logo {
		float: left;
	}

    nav .namelogo-container{
        margin-left: auto;
        margin-right: auto;
    }
	.nav_links {
        font-family: 'Sedgwick Ave Display', cursive;
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0, 0, 0, 0.644);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	.nav_links a {
		font-size: 20px;
	}
	nav :checked ~ .nav_links {
		bottom: 0;
	}
}

/*
footer {
    background: #333;
    background: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
  }
  
  .footer_content {
    padding: 1rem 0;
    text-align: center;
  }
  
  .footer_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .welcome_message,
  .contact_info {
    flex: 1;
    padding: 1rem;
    text-align: center;
  }
  
  .welcome_message p {
    font-family: 'Creepster', cursive;
    font-size: 30px;
    font-weight: bold;
  }
  
  .contact_info p {
    font-family: "jaf-mashine";
    font-size: 16px;
  }
  
  .social-icons {
  }
  
  .contact_info p {
    font-family: "jaf-mashine";
    font-size: 16px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .social-icons a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 0 10px;
    border-radius: 50%;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  }
  
  .social-icons a:hover {
    background-color: #000;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    color: white;
  }
  
  .copyright {
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
    font-family: "GraphikRegular", sans-serif;
  }
  
  /* Social Media Fixed Bar on the right */
  .social {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
  
  .social a {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #cbc7c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
  }
  
  .social a:hover {
    background-color: #000;
  }
  
  .social i {
    font-size: 20px;
    color: #2b2b2b;
  }


/*
JEUS sa team ito
*/

.team_page{
    font-family: 'Courier New';
    width:100%;
    min-height: 100vh;
    display: flex;
    place-items: center;
    place-content: left;
    padding: 50px;;
    margin: 10px;
}

body{
    background-color:rgb(170, 161, 161) ; 
}

.team_page{
    margin: 20px 40px;
    color: white;
  }
  
  .copyright {
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
    font-family: "GraphikRegular", sans-serif;
  }
  
  /* Social Media Fixed Bar on the right */
  .social {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
  
  .social a {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #cbc7c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
  }
  
  .social a:hover {
    background-color: #000;
  }
  
  .social i {
    font-size: 20px;
    color: #2b2b2b;
  }



@font-face{
    font-family: myFont;
    src:url(MEU.ttf.otf)
}

.telho_page{
    min-height: 100vh;
    place-items: center;
    place-content: left;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.above{
    margin: 80px;
    padding: 50px;
    font-family: myFont;
    color: #ffffff;
    font-size: 60px;
  
   
}
.above span{
    color: #c76504;
    font-family: myFont;
    font-style: italic;
    font-size: 40px ;
    font-weight: 900;
}

.rooms{
    display:flex;
    justify-content: space-around;
    margin: 20px 80px;
}

.room{
    flex-basis: 300px;
}

.room .room_img{
    height: 300px;
    width: 480px;
    border-radius: 10%;
    border-color: #080808;
    border-style: solid;
}

.room h3 {
    font-family: myFont;
    font-weight: 100;
    letter-spacing: 3px;    
}

.room p{
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;

}

