/*
css of index.html
*/
@font-face {
    font-family: "jaf-mashine";
    src: url("https://use.typekit.net/af/f97613/000000000000000077359ace/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/f97613/000000000000000077359ace/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/f97613/000000000000000077359ace/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
}

/*body{
    width: 1400px;
    margin: 0 auto;
}*/

/*team logo*/
#indeximg1{
    padding-left: 125px;
    padding-top:2%;
    width: 100px;
    border-radius: 50px;
    float:left;
    padding-right:20px;

}
/*team name*/
#teamname {
    color: black;
    padding-right: 100px;
    padding-top: 3%;
    float:left;
    font-family: "jaf-mashine";
}
/*navigation*/
nav {
    margin-top:0;
    padding: 12px 0;
    margin-left: 0;
    justify-content: space-between;
}
/*list/hyperlinks*/
ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
}

#topnav li a {
    text-decoration: none;
    color:black;
    padding: 50px;
    padding-top:8%;
    float: left;
    font-family: BlinkMacSystemFont;
    
}

#topnav li a:hover{
    color: gray;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding:3px;
    margin-bottom: 2%;
    margin-top: 1%;
    vertical-align: 0.06em;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  /*content image*/
  #main_img{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 70%;
  }

/* image slider index page */
.body_container{
    padding: 2rem;
}
.img_slider_wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}
.img_slider{
    display: flex;
    aspect-ratio: 3/ 2;
    overflow:hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 3rem;
}
.img_slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider_nav {
    display: flex;
    column-gap: 3rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider_nav a {
width: 0.75rem;
height: 0.75rem;
border-radius: 50%;
background-color:white;
opacity: 0.75;
transition: opacity ease 250ms;
}
.slider_nav a:hover{
    opacity: 1;
}

/*
css of about.html
*/


/*
css of destionation.html
*/

.destination-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .destination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    max-width: 1000px;
  }
  
  .image-container {
    flex-basis: 50%;
  }
  
  .destination-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .details-container {
    flex-basis: 50%;
    padding: 1rem;
    text-align: left;
  }
  

/*
css of contact.html
*/
.contact 
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(images/head.jpg);
    background-size: cover;
}
.contact .content
{
    max-width: 800px;
    text-align: center;
}
.contact .content h2
{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p
{
    font-weight: 300;
    color: #fff;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3
{
    font-weight: 500;
    color: cyan;
}
.contactForm
{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
   width: 100%;
   padding: 5px 0;
   font-size: 16px;
   margin: 10px 0;
   border: none;
   border-bottom: 2px solid #333;
   outline: none;
   resize: none;
}
.contactForm .inputBox span
{
    position: absolute;
    left: 0%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0; 
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width: 991)
{
    .contact
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .contactInfo
    {
        margin-bottom: 40px;
    }
    .container .contactInfo, 
    .contactForm
    {
        width: 100%;
    }
}




/*
kobe footer initial
*/
footer {
    background-color: #373030;
    color: white;
    padding: 0.5rem;
}

.footer_content {
    display: flex;
    flex-wrap: wrap;
}

.contact_info,
.try_lang,
.welcome_message {
    flex-basis: calc(33.33% - 1rem);
    padding: 0.5rem;
    font-family: "jaf-mashine";
    font-size: 16px;
    font-weight: bold;
}

.copyright{
    padding: 0.5rem;
    color: #fff;
    font-family: GraphikRegular,sans-serif;
    font-size: 14px;
    
}
.social-icons a{
    width:40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#e6e3e3;
    margin:20px 10px;
    border-radius:50%;
}
.social-icons{
    display: flex;
    
}
.social-icons i,.social i{
    color:#000000;
}
.social-icons a:hover{
    background-color:#000000;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    transition:all ease 0.5s;
}
.social-icons a:hover i,
.social a:hover i{
    color:#FFFFFF;
    transition:all ease 0.5s;
}
 
.copyright{
    color:#565555;
    font-size: 13px;
    position: absolute;
    left:50%;
    bottom:10px;
    transform: translateX(-50%);
}
.social{
    position: fixed;
    top:50%;
    right:0px;
    transform:translateY(-50%);
}
.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height:50px;
    margin:0px;
    padding: 0px;
    line-height:0px;
    background-color:#FFFFFF;
    border:1px solid #CBCBCB;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.social a:hover{
    background-color:#000000;
    transition:all ease 0.5s;
}
.social i{
    font-size:20px;
    color:#2B2B2B;
}


