/*
css imports
*/
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/*
css of index.html
*/

.index_body {
    background-color: #24252A;
}

.body_container {
    padding-bottom: 1rem;
}

.img_slider_wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.img_slider {
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0rem;
    height: 600px;
}

.img_slider img {
    flex: 0 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.slider_item {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
}

/* Name of Image / Title */
.image-text {
    display: block;
    position: absolute;
    top: 1%;
    color: white; 
    font-family: 'Pomesh';
    font-size: 63px;
    font-weight: bold;
    text-transform: uppercase;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    padding: 10px;}

/* Image Link going to Destination */
.image-link {
    display: block;
    position: absolute;
    top: 90%;
    color: black;
    /* background-color: rgba(0, 0, 0, 0.5); */
    font-family: 'Segoe UI';
    font-weight: 600;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 25px;
    padding: 10px 10px;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    animation: glowingText 2s ease-in-out infinite alternate;

}
  
  .image-link:hover {
    color: white;
    background-color: #ff0000; 
  }

/* 
asa .image-text animation,
temporary na kulay tanggalin nyo nalang if masakit sa mata */
@keyframes glowingText {
    from {
        text-shadow: 0 0 10px #222, 0 0 20px #222, 0 0 30px #444, 0 0 40px #444, 0 0 50px #666, 0 0 60px #666, 0 0 70px #888;
    }
    to {
        text-shadow: 0 0 20px #96B6C5, 0 0 30px #ADC4CE, 0 0 40px #EEE0C9, 0 0 50px #F1F0E8;
    }
}

.slider_nav {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.slider_nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.75;
    transition: opacity ease 250ms;
    margin: 0 1rem;
}

.slider_nav a:hover {
    opacity: 1;
}


/*
css of about.html
*/


/*
css of destionation.html
*
  
  /* Style destination containers */
  .destination-page {
    padding-top: 110px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
   /* padding: 2rem;*/
  }
  
  .destination-container {
    display: flex;
    margin-bottom: 2rem;
  }
  
  .image-container {
    flex: 1;
    margin-right: 1rem;
  }
  
  .destination-image {
    width: 100%;
    border-radius: 10px;
  }
  
  .details-container {
    flex: 2;
    padding: 1rem;
    background-color: #6e6e6e;
    border-radius: 10px;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .learn-more-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #24252A;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }

/*
css of contact.html
*/
.contact 
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(images/head.jpg);
    background-size: cover;
}
.contact .content
{
    max-width: 800px;
    text-align: center;
}
.contact .content h2
{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p
{
    font-weight: 300;
    color: #fff;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3
{
    font-weight: 500;
    color: cyan;
}
.contactForm
{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
   width: 100%;
   padding: 5px 0;
   font-size: 16px;
   margin: 10px 0;
   border: none;
   border-bottom: 2px solid #333;
   outline: none;
   resize: none;
}
.contactForm .inputBox span
{
    position: absolute;
    left: 0%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0; 
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width: 991)
{
    .contact
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .contactInfo
    {
        margin-bottom: 40px;
    }
    .container .contactInfo, 
    .contactForm
    {
        width: 100%;
    }
}




/*
header - ednis sobrang pogi tangina
*/
nav {
	position: relative; /*palitan ng fixed yung position if gusto ng in-scroll header*/
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 5%;
	height: 100px;
    background-color: #3c3d45;
}
nav .logo {
	float: left;
	width: 150px;
    margin-left: 30px;
    margin-top: 10px;
	display: flex;
	color: #fff;
}

nav .team_name{
    float:left;
    margin-left: 30px;
    margin-top: 15px;
    font-weight: 100;
    font-size: 200%;
    cursor: pointer;
    font-family: 'Creepster', cursive;
    color: rgb(170, 161, 161)
}

nav .team_name:hover{
    opacity: 30%;
    transition: .5s;
}

.nav_links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.nav_links li {
	list-style: none;
}
.nav_links a {
    font-family: 'Sedgwick Ave Display', cursive;
	display: block;
	padding: 1em;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
}

.nav_links li a:hover{
    color: gray;
    transition: 0.6s;
}

.nav_links .active{
    color: gray;
}

.nav_links .blank{
    border-radius: 25px;
    border-style: solid;;
}

#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}

@media screen and (max-width: 768px) {
	nav .logo {
		float: left;
	}

    nav .namelogo-container{
        margin-left: auto;
        margin-right: auto;
    }
	.nav_links {
        font-family: 'Sedgwick Ave Display', cursive;
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0, 0, 0, 0.644);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	.nav_links a {
		font-size: 20px;
	}
	nav :checked ~ .nav_links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
}

/*
kobe footer initial
*/
footer {
    background-color: #3c3d45;
    color: white;
    padding: 0.5rem;
}

.footer_content {
    display: flex;
    flex-wrap: wrap;
}

.contact_info,
.try_lang,
.welcome_message {
    flex-basis: calc(33.33% - 1rem);
    padding: 0.5rem;
    font-family: "jaf-mashine";
    font-size: 16px;
    font-weight: bold;
}

.copyright{
    padding: 0.5rem;
    color: #fff;
    font-family: GraphikRegular,sans-serif;
    font-size: 14px;
    
}
.social-icons a{
    width:40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#e6e3e3;
    margin:20px 10px;
    border-radius:50%;
}
.social-icons{
    display: flex;
    
}
.social-icons i,.social i{
    color:#000000;
}
.social-icons a:hover{
    background-color:#000000;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    transition:all ease 0.5s;
}
.social-icons a:hover i,
.social a:hover i{
    color:#FFFFFF;
    transition:all ease 0.5s;
}
 
.copyright{
    color:#565555;
    font-size: 13px;
    position: relative;
    bottom:10px;
    transform: translateX(-50%);
}
.social{
    position: fixed;
    top:50%;
    right:0px;
    transform:translateY(-50%);
}
.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height:50px;
    margin:0px;
    padding: 0px;
    line-height:0px;
    background-color:#FFFFFF;
    border:1px solid #CBCBCB;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.social a:hover{
    background-color:#000000;
    transition:all ease 0.5s;
}
.social i{
    font-size:20px;
    color:#2B2B2B;
}


