/*
css imports
*/
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Sedgwick+Ave+Display&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
css of index.html
*/

.index_body {
    background-color: #24252A;
}

  /*content image*/
  #main_img{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 70%;
  }

/* image slider index page */
.body_container{
    /*padding: 2rem;*/
    padding-top: 2px;
    padding-bottom: 20px;
}
.img_slider_wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}
.img_slider{
    display: flex;
    aspect-ratio: 3/ 2;
    overflow:hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 3rem;
}
.img_slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider_nav {
    display: flex;
    column-gap: 3rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider_nav a {
width: 0.75rem;
height: 0.75rem;
border-radius: 50%;
background-color:white;
opacity: 0.75;
transition: opacity ease 250ms;
}
.slider_nav a:hover{
    opacity: 1;
}

/*
css of about.html
*/


/*
css of destionation.html
*
  
  /* Style destination containers */
  .destination-page {
    padding: 2rem;
  }
  
  .destination-container {
    display: flex;
    margin-bottom: 2rem;
  }
  
  .image-container {
    flex: 1;
    margin-right: 1rem;
  }
  
  .destination-image {
    width: 100%;
    border-radius: 10px;
  }
  
  .details-container {
    flex: 2;
    padding: 1rem;
    background-color: #8cc298;
    border-radius: 10px;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .learn-more-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #0a8d43;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
  }

/*
css of contact.html
*/
.contact 
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(images/head.jpg);
    background-size: cover;
}
.contact .content
{
    max-width: 800px;
    text-align: center;
}
.contact .content h2
{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p
{
    font-weight: 300;
    color: #fff;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3
{
    font-weight: 500;
    color: cyan;
}
.contactForm
{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2
{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
   width: 100%;
   padding: 5px 0;
   font-size: 16px;
   margin: 10px 0;
   border: none;
   border-bottom: 2px solid #333;
   outline: none;
   resize: none;
}
.contactForm .inputBox span
{
    position: absolute;
    left: 0%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0; 
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width: 991)
{
    .contact
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .contactInfo
    {
        margin-bottom: 40px;
    }
    .container .contactInfo, 
    .contactForm
    {
        width: 100%;
    }
}




/*
ednis sobrang pogi tangina
*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.nav_links a, .nav_links li, button {
    /*font-family: 'Crimson Text', serif;*/
    font-family: 'Sedgwick Ave Display', cursive;
    font-weight: 500;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.logo{
    width: 100px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 110px;
    order: 4;
    margin-right: 10px;
}

.teamm_name{
    color: black;
    padding-right: 100px;
    padding-top: 3%;
    font-family: "jaf-mashine";
}

.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: gray;
}

nav {
    order: 1;
}

button {
    margin-left: 10px;
    padding: 9px 25px;
    background-color: rgb(29, 29, 163);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: white;;
    color: black;
}

.contact{
    order: 2;
}

.header_quote {
    order: 3;
    margin-left: auto;
    color: white;
    font-family: 'Bungee', cursive;
    font-size: 30px;
    font-style:italic;
}

/*
kobe footer initial
*/
footer {
    background-color: #373030;
    color: white;
    padding: 0.5rem;
}

.footer_content {
    display: flex;
    flex-wrap: wrap;
}

.contact_info,
.try_lang,
.welcome_message {
    flex-basis: calc(33.33% - 1rem);
    padding: 0.5rem;
    font-family: "jaf-mashine";
    font-size: 16px;
    font-weight: bold;
}

.copyright{
    padding: 0.5rem;
    color: #fff;
    font-family: GraphikRegular,sans-serif;
    font-size: 14px;
    
}
.social-icons a{
    width:40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#e6e3e3;
    margin:20px 10px;
    border-radius:50%;
}
.social-icons{
    display: flex;
    
}
.social-icons i,.social i{
    color:#000000;
}
.social-icons a:hover{
    background-color:#000000;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    transition:all ease 0.5s;
}
.social-icons a:hover i,
.social a:hover i{
    color:#FFFFFF;
    transition:all ease 0.5s;
}
 
.copyright{
    color:#565555;
    font-size: 13px;
    position: relative;
    bottom:10px;
    transform: translateX(-50%);
}
.social{
    position: fixed;
    top:50%;
    right:0px;
    transform:translateY(-50%);
}
.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height:50px;
    margin:0px;
    padding: 0px;
    line-height:0px;
    background-color:#FFFFFF;
    border:1px solid #CBCBCB;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.social a:hover{
    background-color:#000000;
    transition:all ease 0.5s;
}
.social i{
    font-size:20px;
    color:#2B2B2B;
}


