<!DOCTYPE html>
<html lang="en">
<head>
    <title>OJT Client - Documents</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style_client.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="left-manager">
        <div class="client-task">
            <li class="work">
                <a href="/profile">Profile</a>
            </li>
            <li class="work">
                <a href="/worktrack">Work Track</a>
            </li>
            <li class="work">
                <a href="/documents">Documents</a>
            </li>
        </div>
    </div>
    <div class="content">
        <h1>Welcome to Your Documents</h1>
</body>
</html>