* {
  box-sizing: border-box;
  outline: none;
}

:root {
  --bg-color: #f5f8ff;
  --main-color: #353536;
  --secondary-color: #8e92a4;
  --main-text-color: #5d606b;
  --secondary-dark-color: #9496a5;
  --tag-color-one: #e0fbf6;
  --tag-color-text-one: #58c2a9;
  --tag-color-two: #ece7fe;
  --tag-color-text-two: #8972f3;
  --tag-color-three: #fde7ea;
  --tag-color-text-three: #e77f89;
  --tag-color-four: #f7f8fc;
  --tag-color-text-four: #a0a6b5;
  --checkbox-color: #009e90;
  --button-color: #49beb7;
  --box-color: #fff1d6;
  --box-color-2: #d3e6ff;
  --box-color-3: #ffd9d9;
  --box-color-4: #daffe5;
  --task-color: #777982;
  --active-bg-color: #353536; /* Active item background color */
  --active-text-color: #ffffff; /* Active item text color */
}

.item, body {
  display: flex;
  align-items: center;
}

body {
  margin: 0;
  justify-content: center;
  flex-direction: column;
  overflow: auto; /* Use auto to allow the browser to decide whether to show a scrollbar */
  width: 100%;
    padding: 20px;
    font-family: "DM Sans", sans-serif;
    font-size: 12px;
    background-image: linear-gradient(21deg, rgba(33, 37, 41, 0.95) 68%, rgba(75, 85, 99, 0.85) 163%), 
                      linear-gradient(163deg, rgba(44, 62, 80, 0.9) 86%, rgba(90, 100, 114, 0.85) 40%), 
                      linear-gradient(30deg, rgba(39, 49, 56, 0.9) 22%, rgba(103, 128, 159, 0.85) 169%), 
                      linear-gradient(48deg, rgba(47, 54, 64, 0.95) 64%, rgba(108, 122, 137, 0.85) 43%);
    background-blend-mode: overlay, multiply, color, normal;
  }
  

ul {
  list-style-type: none;
  padding: 0;
}


.task-manager {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  height: 90vh; /* Adjust as needed */
  max-height: 900px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0.3px 2.2px rgba(0, 0, 0, 0.011), 0 0.7px 5.3px rgba(0, 0, 0, 0.016), 0 1.3px 10px rgba(0, 0, 0, 0.02), 0 2.2px 17.9px rgba(0, 0, 0, 0.024), 0 4.2px 33.4px rgba(0, 0, 0, 0.029), 0 10px 80px rgba(0, 0, 0, 0.04);
  overflow: hidden;
}

.left-bar {
  background-color: var(--bg-color);
  width: 230px;
  border-right: 1px solid #e3e7f7;
  position: relative;
}

.left-content {
  padding: 40px;
}

.item {
  color: var(--main-color);
  margin-bottom: 14px;
  font-weight: 500;
}

.item a {
    text-decoration: none; /* Removes the underline from links */
    color: inherit; /* Inherits the color from the .item class */
    display: block; /* Makes the link fill the entire list item */
    padding: 10px 15px; /* Adjust padding as needed */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  }
  
  .item a:hover, .item.active a {
    background-color: var(--active-bg-color); /* Background color for hover and active item */
    color: var(--active-text-color); /* Text color for hover and active item */
  }

.page-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 40px 20px 0 20px;
  overflow: auto;
}
.page-content .header {
  font-size: 26px;
  color: var(--main-color);
  margin-top: 30px;
}

.content-categories {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: var(--active-bg-color);
  color: var(--active-text-color);
}

tr:nth-child(even) {
  background-color: var(--bg-color);
}

tr:hover {
  background-color: #f5f5f5;
}
.logout-button {
  display: block; /* Change to block to make it a block-level element */
  margin-top: 10px;
  padding: 8px 12px;
  background-color: var(--button-color);
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #3e8e87;
}

.header {
  position: relative;
}


.image-container {
  position: absolute;
  top: 16px; 
  right: 230px; 
  z-index: 1;
}

.image-container img {
  width: 160px;
  height: 150px;
  border-radius: 50%;
}
