* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

body {
  background: linear-gradient(135deg, #1f4037, #99f2c8);
  font-size: 16px; /* Adjust base font size */
  color: #fff;
  line-height: 1.6;
}
  
.task-manager {
  display: flex;
  height: 90vh; /* Adjust as needed */
  max-height: 900px;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto; /* Center the task manager */
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.left-bar {
  background-color: #353536;
  width: 240px; /* Adjust sidebar width */
  padding: 20px; /* Add padding for spacing */
}

.action-list {
  list-style-type: none;
  font-weight: 500;
}


.item a {
  color: #ddd;
  text-decoration: none;
  display: block;
  padding: 15px;
  transition: background-color 0.3s, color 0.3s;
}
  
.item a:hover, .item.active a {
  background-color: #4caf50; /* Active/Hover item background color */
  color: #ffffff;
}

.page-content {
  flex: 1;
  padding: 40px;
  overflow-y: auto; /* Allows scrolling */
  position: relative; /* For absolute positioning of elements */
}

.page-content .header {
  padding-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 36px; /* Adjust header font size */
  margin-bottom: 20px; /* Spacing after header */
}

.content-categories {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px; /* Spacing before the next section */
  border-bottom: 1px solid #181818;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  border: 1px solid #050505;
  text-align: left;
}

th {
  background-color: #9ab19b; /* Header background */
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: var(--bg-color);
}

tr:hover {
  background-color: #414a44;
}
.logout-button {
  background-color: #e53935;
  color: #ffffff;
  text-align: center;
  padding: 12px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  width: calc(100% - 40px); /* Account for padding */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 20px; /* Space from the last item */
}

.logout-button:hover {
  background-color: #d32f2f;
}

.header {
  position: relative;
}


.image-container {
  position: absolute;
  top: 8px;
  right: 20px;
  z-index: 1;
}

.image-container img {
  width: 130px; /* Adjust image size */
  height: auto; /* Maintain aspect ratio */
  border: none; /* If there was a border making the circle, set it to none */
  display: block; /* Ensure it doesn't have any line around it */
  margin-bottom: 10px; /* Add some space below the image */
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* You can adjust this value to suit your needs */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px; /* Optional: for rounded corners */
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Input Fields Styling */
.modal-content input[type="number"],
.modal-content input[type="date"],
.modal-content select {
  width: 100%; /* Make input fields take up 100% of the parent's width */
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Optional: for padding to not affect the total width */
}

/* Label Text Color */
.modal-content label {
  color: rgb(7, 7, 7);
  display: block; /* Make labels take up the full width */
  margin-top: 10px;
}

/* Submit Button Styling */
.modal-content input[type="submit"] {
  width: 100%;
  background-color: #4CAF50; /* A pleasant green */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content input[type="submit"]:hover {
  background-color: #45a049;
}

/* Additional styling for pleasant spacing */
.modal-content h2 {
  color: white;
  text-align: center;
}

/* Ensuring the modal content is not too wide on very large screens */
@media screen and (min-width: 768px) {
  .modal-content {
    width: 40%; /* or a max-width if you prefer */
  }
}

#myBtn {
  background-color: #4CAF50; /* A pleasant green */
  color: white;
  padding: 10px 15px; /* Top and bottom padding & Left and right padding */
  margin-top: 20px; /* Add space between the table and the button */
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  display: inline-block; /* Align button properly */
  font-size: 16px; /* Increase font size */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Slight shadow for depth */
}

#myBtn:hover {
  background-color: #45a049; /* Darker shade on hover */
  color: #fff;
}
