* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

body {
  background: linear-gradient(135deg, #1f4037, #99f2c8);
  font-size: 16px; /* Adjust base font size */
  color: #fff;
  line-height: 1.6;
}
  
.task-manager {
  display: flex;
  height: 90vh; /* Adjust as needed */
  max-height: 900px;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto; /* Center the task manager */
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.left-bar {
  background-color: #353536;
  width: 240px; /* Adjust sidebar width */
  padding: 20px; /* Add padding for spacing */
}

.action-list {
  list-style-type: none;
  font-weight: 500;
}


.item a {
  color: #ddd;
  text-decoration: none;
  display: block;
  padding: 15px;
  transition: background-color 0.3s, color 0.3s;
}
  
.item a:hover, .item.active a {
  background-color: #4caf50; /* Active/Hover item background color */
  color: #ffffff;
}

.page-content {
  flex: 1;
  padding: 40px;
  overflow-y: auto; /* Allows scrolling */
  position: relative; /* For absolute positioning of elements */
}

.page-content .header {
  padding-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 36px; /* Adjust header font size */
  margin-bottom: 20px; /* Spacing after header */
}

.content-categories {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px; /* Spacing before the next section */
  border-bottom: 1px solid #181818;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  border: 1px solid #050505;
  text-align: left;
}

th {
  background-color: #4caf50; /* Header background */
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: var(--bg-color);
}

tr:hover {
  background-color: #adf0c5;
}
.logout-button {
  background-color: #e53935;
  color: #ffffff;
  text-align: center;
  padding: 12px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  width: calc(100% - 40px); /* Account for padding */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 20px; /* Space from the last item */
}

.logout-button:hover {
  background-color: #d32f2f;
}

.header {
  position: relative;
}


.image-container {
  position: absolute;
  top: 8px;
  right: 20px;
  z-index: 1;
}

.image-container img {
  width: 130px; /* Adjust image size */
  height: auto; /* Maintain aspect ratio */
  border: none; /* If there was a border making the circle, set it to none */
  display: block; /* Ensure it doesn't have any line around it */
  margin-bottom: 10px; /* Add some space below the image */
}